#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  padding: 10px;
  border-radius: 10px;
  width: 15%;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

#content {
  padding: 10px;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.dash-tabs {
  margin-bottom: 20px;
}